*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#bgColor{
    background-color: black;
}
/* nav menu  */
nav.navbar h1{
    color: white;
}
h1 span{
    color: cadetblue;
}
nav.navbar a{
    color: white;
    font-weight: 600px;
}

/* first container */
.container.first p{
    font-size: 20px;
    color: #fff;
}
.container.first h3{
    color: #fff;
}
.container.first #second{
   margin-top: 2em;
}
img.first{
    width: 100%;
}
.first input{
    outline: none;
    cursor: pointer;
}
#second .btn-sm{
    position: relative;
    left: -50px;
    cursor: pointer;
}
span.move{
    position: relative;
    left: 20px;
}

/* second container */
.container .bg-dark{
    width: 200px;
    height: 230px;
    margin-right: 25px;
    border-radius: 10px;
    padding: 5px  15px;
}
p.web{
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
section+.background{
    width: 100%;
    background-color: grey;
    padding: 60px 0;
}

/*      third container */
div.bootstrap{
    width: 500px;
    padding: 50px;
    font-size: 30px;
}
.bootstrap button{
    margin-left: 100px;
}
.anotherbg{
    background-color:rgb(100,100,100);
}

/* fourth container */
.bg{
    background-color: black;
    height: 300px;
}
.name{
    font-size: 30px;
}
.name--text{
    font-size: 20px;
}
.name--text span{
    color: cadetblue;
    
}
